{# @var item \BaksDev\Finances\Repository\AllFinance\FinanceResult #}

<tr class="vertical-middle">


    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td class="text-center">
        0
    </td>

    <td class="w-100">
        1
    </td>

    <td class="text-nowrap ">
        2
    </td>

    <td class="text-center">
        3
    </td>

    <td class="text-center text-nowrap">
        4
    </td>

    <td class="text-nowrap">
        5
    </td>
</tr>


